.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: var(--preto-base);
}

.section {
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--white);
}
